/* Portfolio Item */
.cmp-portfolioitem{
    border-radius:$border-radius;
    overflow: hidden;
    cursor:pointer;
    img{
        width:100%;
    }
    .content{
        text-align: center;
        background: $peach_light;
        padding:32px;
        transition:$transition;
        margin-top:-6px;
        .tertiary-heading{
            text-transform: uppercase;
            color:$peach;
            transition:$transition;
        }
    }
    &:hover{
        .content{
            background:$peach;
            color:#fff;
            transition:$transition;
            .tertiary-heading{
                color:#fff;
                transition:$transition;
            }
        }
    }
    @media (max-width:$tablet){
        display:flex;
        img{
            width:50%;
        }
        .content{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    @media (max-width:$mobile){
        flex-wrap: wrap;
        img{
            width: 100%;
        }
    }
}