/* Projects Grid */
#cmp-projectgrid{
    .maxwidth-container{
        & > * {
            display:grid;
            &.grid-items-2{
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 24px;
                
            }
            &.grid-items-3{
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 24px;
                & > *{
                    &:nth-child(1){
                        grid-row:1/3;
                    }
                }
            }
            @media (max-width:$tablet){
                &.grid-items-2,
                &.grid-items-3{
                    grid-template-columns: 1fr;
                    & > *{
                        &:nth-child(1){
                            grid-row:1;
                        }
                    } 
                }
                
            }
            
        }
    }
}