
@font-face {
    font-family: "Jost";
    src: url("./includes/fonts/Jost-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Jost";
    src: url("./includes/fonts/Jost-Medium.ttf") format("truetype");
    font-weight: bold;
}

@import './includes/includes';
@import './pages/pages';
@import './components/components';
